#ext_random {
	border: 2px solid black;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  font-family: Helvetica,sans-serif;
  outline: 0!important;
  top: 40px;
  right: 416px;
  position: absolute;
  z-index: 999999999
}

#ext_rotate {
  border: 2px solid black;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  font-family: Helvetica,sans-serif;
  outline: 0!important;
  top: 40px;
  right: 635px;
  position: absolute;
    z-index: 999999999

}
#ext_follow {
	border: 2px solid black;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  font-family: Helvetica,sans-serif;
  outline: 0!important;
  top: 40px;
  right: 635px;
  position: absolute;
    z-index: 999999999

}
#webchat {
	/*width: 450px;*/
	height: calc(100% - 5.5em);
	padding-bottom:25px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#streamwrapper {
  /*width: 800px;*/
  margin: auto;
  height: 100%;
}
.ext_rotate {
    position: absolute!important;
    bottom: 20px;
    left:10px;
    opacity: 0.2;
    width:200px;
}

.ext_rotate:hover {
  opacity: 1;
}

.ext_rotate span {
    cursor: pointer;
}
#playerwrapper {
  float:left;
  height:100%;
}
.rotateddiv {

  writing-mode: tb-rl;
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#stream {
  overflow:hidden;
}

#rotateRight {
  display: inline-block !important;
  font-size: 14px;
  cursor:pointer;
  float:left;
}

#rotateLeft {
  display: inline-block !important;
  font-size: 14px;
  cursor:pointer;
  float:left;
}

#rotateReset {
  display: none;
  font-size: 14px;
  cursor:pointer;
  float:left;

}

#hideCaptions {
    font-size:14px;
    display: inline-block;
    float:left;
}

#muteVideo {
    font-size:14px;
    display: inline-block;
    float:left;
}


.rotatelabel {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.28em;
  padding: 0.21em 0.42em;
  margin: 0 0.1em 0.7em;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.8);
}