.userlive {
    cursor: pointer;
    margin-top: 20px;
}
.userlive img {
    width: 300px;
}
#userStatus {
    position: relative;
    color: green;
}
.broadcastbtn {
  width: 255px;
  margin: auto !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
#userLocation {
	font-size: 15px;
  opacity: 0.4;
}
.meerkatbtn {
	border: 2px solid black;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  font-family: Helvetica,sans-serif;
  outline: 0!important;
  position: relative;
  z-index: 999999999
}